<div class='container'>
  <form class='weather-form' action="/weather" method="post">
    <!-- <label class='weather-label'>Enter City Here</label><br> -->
    <input class='weather-input' type="text" name="city" placeholder='Enter City Here'><br>
    <input class='weather-button' type="submit" value="Submit">
  </form>
</div>


